@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.scroll-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
}

.scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 21px;
  height: 33px;
  border: 2px solid var(--semi-text);
  border-radius: 23px;
  box-sizing: border-box;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin: -2px 0 0 -2px;
  background: var(--semi-text);
  border-radius: 50%;
  animation: ani-mouse 2.5s linear infinite;
}
