@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --bg-color: #f5f7ff;
  --primary: #4b49ac;
  --secondary: #98bdff;
  --support-1: #7da0fa;
  --support-2: #7978e9;
  --support-3: #f3797e;
  --support-4: #acacc2;
  --text-color: #222;
  --text-color-surface: #f5f7ff;
}

[data-theme="dark"] {
  --bg-color: #1e1e2f;
  --primary: #8a86f0;
  --secondary: #6a91ca;
  --support-1: #5673b8;
  --support-2: #5d54b5;
  --support-3: #d66567;
  --support-4: #464650;
  --text-color: #ededed;
  --text-color-surface: #f5f7ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  font-family: 'Manrope', sans-serif;
  margin: 4px 16px;
}

a {
  text-decoration: none;
  color: inherit;
}